@import "tailwindcss";

@theme {
  --color-accent: #aa3bff;
  --color-bg-dark: #16171d;
  --color-bg-panel: #1f2028;
}

@layer base {
  body {
    @apply bg-bg-dark text-white antialiased m-0 p-0 overflow-hidden;
  }
}

#root {
  width: 100vw;
  height: 100vh;
  display: flex;
}
